In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'C:/Users/Inteli/Downloads/Data Base Full.xlsx')

In [6]:
df = df.drop("Unnamed: 0", axis = 1)

In [13]:
df.head()

,Supplier Name,Normalized Supplier Name,Parent Supplier Name,Region,Requestor Name,Preparer Name,Level 1,Level 2,Level 3,Business Unit,...,Cost Center (Level 6),GL Desc (Level 4),GL Desc (Level 5),GL Desc (Level 6),Invoice ID,Invoice Number,Invoice Source,"Month, Day, Year of Payment Date",PO Number,Amount (USD)
0,1ST AVE MACHINE USA INC,1ST AVE MACHINE USA INC,1st Ave Machine USA Inc.,NORAM,NaN,NaN,"Sales, Marketing & Events",Original Content,Original Content,NaN,...,Parent for Cost Center,Current Liabilities,Total Liabilities,Total Liabilities & Shareholders' Equity,300002847701042,DDRMETAVERSEAWTY002R,SIMANUAL,2023-08-10,NaN,231826.73
1,1ST AVE MACHINE USA INC,1ST AVE MACHINE USA INC,1st Ave Machine USA Inc.,NORAM,Cara Brann,Jessica Shimshak,"Sales, Marketing & Events",Original Content,Original Content,R&D,...,Parent for Cost Center,Creative services,Opex w/o Allocations & Interco,Operating Expenses w/o Allocations,300002890508241,FBAPPRFP001,SUPP_CONNECT,2023-09-28,7.000079e+10,349101.75
2,1ST AVE MACHINE USA INC,1ST AVE MACHINE USA INC,1st Ave Machine USA Inc.,NORAM,Chloe Kwock,Nicole Franco,"Sales, Marketing & Events",Original Content,Original Content,Global Consumer Marketing,...,Parent for Cost Center,Marketing Materials,Opex w/o Allocations & Interco,Operating Expenses w/o Allocations,300002731100946,AWTYCASESTUDY005,SUPP_CONNECT,2023-05-13,7.000067e+10,6936.00
3,1ST AVE MACHINE USA INC,1ST AVE MACHINE USA INC,1st Ave Machine USA Inc.,NORAM,Chloe Kwock,Princess Costello,"Sales, Marketing & Events",Original Content,Original Content,Global Consumer Marketing,...,Parent for Cost Center,Consultants,Opex w/o Allocations & Interco,Operating Expenses w/o Allocations,300002818756646,DCRMETAVERSEAWTY002,SIMANUAL,2023-08-10,7.000049e+10,-231826.73
4,1ST AVE MACHINE USA INC,1ST AVE MACHINE USA INC,1st Ave Machine USA Inc.,NORAM,Jess Jabbar,Princess Costello,"Sales, Marketing & Events",Original Content,Original Content,Global Consumer Marketing,...,Parent for Cost Center,Other Marketing,Opex w/o Allocations & Interco,Operating Expenses w/o Allocations,300002613103245,AWTYCASESTUDY001,SUPP_CONNECT,2023-02-16,7.000063e+10,55000.00

In [14]:
df.columns

Index(['Supplier Name', 'Normalized Supplier Name', 'Parent Supplier Name',
       'Region', 'Requestor Name', 'Preparer Name', 'Level 1', 'Level 2',
       'Level 3', 'Business Unit', 'Legal Entity', 'Cost Center',
       'Cost Center (Base Level)', 'Cost Center (Level 4)',
       'Cost Center (Level 5)', 'Cost Center (Level 6)', 'GL Desc (Level 4)',
       'GL Desc (Level 5)', 'GL Desc (Level 6)', 'Invoice ID',
       'Invoice Number', 'Invoice Source', 'Month, Day, Year of Payment Date',
       'PO Number', 'Amount (USD)'],
      dtype='object')

In [22]:
round(df['Amount (USD)'].mean(),3)

42123.3